@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li>
            <a asp-controller="Candidate" asp-action="Index">Candidates</a>
        </li>
        <li>
            <a asp-controller="Skill" asp-action="Index">Skills</a>
        </li>
    </ul>

</div>
